.main {
  width: 100%;
  min-height: 100vh;
  background: #01002d;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../public/images/home-background.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

@media (max-width: 1440px) {
  .main {
    background-size: 45%;
  }
}

.title {
  font-weight: 400;
  font-size: 56px;
  line-height: 71px;

  color: #ffffff;
}

.title span {
  font-weight: 900;
}

.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.nav a + a {
  margin-left: 32px;
}
